@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800;900&family=Rubik:wght@800&family=Sacramento&display=swap');


*{
  scroll-behavior: smooth;
}

.main {
  text-align: left;
  background-color: #403d50;
}

header {
  display: flex;
  position: fixed;
  top: -2%;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 5px 0px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  user-select: none;
  transition: 0.5s ease-in-out;
}

.logo {
  margin-left: 40%;
  margin-top: 20px;
  height: 8vmin;
  width: 15hmin; 
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

nav a {
  margin: -2% 20%;
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  margin-top: 13%;
  color: #908e98;
}

nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(0.8);
  width: 100%;
}

nav a.active {
  transform: translateY(-2px);
  color: #bbbac0;
}

body {
  margin: 0;
  justify-content: left;
  caret-color: transparent;
}

section{
  align-items: center;
  z-index: 100;
  user-select: none;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#1a224c;
  color:#ffffff;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

section:nth-child(odd){
  background: #768091;
}

.text-box{
  margin-top: 15%;
}

.text-wrapper{
  box-sizing: content-box;
  background-color: transparent;
  align-content: center;
  height: 30px;
  display: flex;
  border-radius: 8px;
  margin-left: -70%;
  margin-top: -25%;
  margin-bottom: -10%;
}

.words{
  overflow: hidden;
}

.word{
  display: block;
  height: 100%;
  padding-left: 10px;
  color: #ffffff;
  animation: spin_words 6s infinite;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

@keyframes spin_words{
  10%{
      transform: translateY(-112%);
  }
  25%{
      transform: translateY(-100%);
  }
  35%{
      transform: translateY(-212%);
  }
  50%{
      transform: translateY(-200%);
  }
  60%{
      transform: translateY(-312%);
  }
  75%{
      transform: translateY(-300%);
  }
  85%{
      transform: translateY(-412%);
  }
  100%{
      transform: translateY(-400%);
  }
}

.text-box p2{
  font-family: 'Sacramento', cursive;
  position: absolute;
  margin-left: -30%;
  margin-top: -10%;
  font-size: 30px;
  font-weight: -10;
  z-index: 10;
}

.text-box h1{
  font-size: 70px;
  font-weight: 900;
  text-align: left;
  margin-left: -70%;
}

.text-box h2{
  font-size: 70px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: -40%;
  margin-left: 5%;
  margin-bottom: 0%;
}

.text-box h3 {
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url(binarybg.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

section#profile{
  display: flex;
  flex-direction: column;
  background: linear-gradient(#141d26, #353C51);
  height: 100vh;
}

.jump {
  margin-top: 40%;
  margin-left: -5%;
  display: flex;
  align-items: center;
  position: absolute;
}

.jump a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 20px;
  border: 2px solid white;
  margin-left: 10%;
  width: 215px;
}

.jump a:hover {
  background-color: white;
  color: #1a224c;
}

.jump a:hover span {
  color: #1a224c;
}

.explore {
  margin-left: 50%;
}

.connect {
  margin-left: 50%;
}

.linkedin{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  bottom: 60px
}

.github{
  position: absolute;
  width: 31px;
  height: 31px;
  left: 20px;
  bottom: 10px
}

@keyframes back {
  100%{
    background-position: 2000px 50px;
  }
}

.text-box a{
  font-weight: 100;
  font-size: 15px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border:  2px solid white;
  align-items: center;
  margin-left: -100%;
}

.text-box a span{
  font-size: 20px;
  line-height: 10px;
  margin-left: 5px;
  color: white;
}

.text-box a:hover {
  background-color: white;
  color: #1a224c;
}

.text-box a:hover span {
  color: #1a224c
}

#tilt {
  position: absolute;
  margin-left: 10%;
  z-index: 9;
  display: block;
  height: 300px;
  width: 300px;
  background-color: transparent;
  transition: box-shadow 0.1s, transform 0.1s;
  border-radius: 20px;
  background-image: url(pixelsam.png);
  background-size: 65%;
  background-repeat: no-repeat;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background:linear-gradient(transparent, #54487e);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background:linear-gradient(transparent, #3a305e);
  border-radius: 6px;
}

@media screen and (max-width: 1100px) {
  .jump {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    margin-bottom: -5%;
  }
}
@media screen and (max-width: 1000px) {
  .jump {
    margin-bottom: -10%;
  }
}

@media screen and (max-width: 900px) {
  .jump {
    margin-bottom: -15%;
  }
}

@media screen and (max-width: 800px) {
  .jump {
    margin-bottom: -20%;
  }
}

@media screen and (max-width: 700px) {
  .jump {
    margin-bottom: -25%;
  }
}

@media screen and (max-width: 680px) {
  .jump {
    width: 60%;
    margin-bottom: -30%;
  }

  .jump a {
    font-size: 10px;
    margin-left: 10%;
    width: 200px;
  }

  #tilt{
    width: 40%;
    height: 40%;
  }

  .word{
    font-size: 15px;
  }

  .text-wrapper{
    height: 20px;
  }
  .text-box h1,.text-box h2,.text-box h3{
    font-size: 60px;
  }

  .text-box p2{
    font-size: 27px;
  }
}

@media screen and (max-width: 646px) {
  .jump {
    width: 65%;
    margin-bottom: -40%;
  }

  .jump a {
    font-size: 10px;
    width: 200px;
  }

  .text-box p2{
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .jump {
    width: 70%;
    margin-bottom: -40%;
  }

  .jump a {
    font-size: 10px;
    width: 200px;
  }

  .text-box p2{
    font-size: 24px;
  }

  .text-box h1,.text-box h2,.text-box h3{
    font-size: 55px;
  }

  .github{
    width: 16px;
    height: 16px;
    margin-bottom: 2%;
  }

  .linkedin{
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 575px) {
  .text-box p2{
    font-size: 20px;
  }
  .jump {
    width: 72%;
    margin-bottom: -50%;
  }
}

@media screen and (max-width: 545px) {
  .jump {
    width: 80%;
    margin-bottom: -50%;
  }

  .jump a {
    font-size: 10px;
    width: 200px;
  }

  .text-box p2{
    font-size: 20px;
  }

  .text-box h1,.text-box h2,.text-box h3{
    font-size: 50px;
  }

  .github{
    width: 16px;
    height: 16px;
    margin-bottom: 2%;
  }

  .linkedin{
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 500px) {
  .text-box h1,.text-box h2,.text-box h3{
    font-size: 46px;
  }
}

@media screen and (max-width: 490px) {
  .jump {
    width: 85%;
    margin-bottom: -40%;
  }

  .text-box p2{
    font-size: 19px;
  }

  nav a {
    font-size: 10px;
  }

  #tilt{
    margin-left: 5%;
  }

}

@media screen and (max-width: 460px) {
  .text-box h1,.text-box h2,.text-box h3{
    font-size: 40px;
  }

  .text-box p2{
    font-size: 18px;
  }

  .jump{
    margin-bottom: -30%;
    width: 90%;
  }
}

@media screen and (max-width: 435px) {
  .text-box h1,.text-box h2,.text-box h3{
    font-size: 40px;
  }

  .text-box p2{
    font-size: 16px;
  }

  .jump{
    margin-bottom: -30%;
    width: 85%;
  }

  .jump a{
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .jump{
    margin-bottom: -35%;
    width: 90%;
  }
}

@media screen and (max-width: 388px) {
  .text-box h1,.text-box h2,.text-box h3{
    font-size: 33px;
  }

  .text-box p2{
    font-size: 15px;
  }

  .jump{
    margin-bottom: -40%;
    width: 95%;
  }
}

@media screen and (max-width: 365px) {
  .text-box p2{
    font-size: 14px;
  }

  #tilt{
    margin-left: 5%;
  }
}

@media screen and (max-width: 355px) {
  .jump{
    margin-bottom: -40%;
    width: 98%;
  }
}

@media screen and (max-width: 344px) {
  .jump{
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .jump{
    width: 100%;
    margin-left: -8%;
  }

  .text-box p2{
    font-size: 12px;
  }

  .text-box h1,.text-box h2,.text-box h3{
    font-size: 30px;
  }

  #tilt{
    margin-left: 10%;
  }
}

@media screen and (max-width: 344px) {
  .jump{
    width: 100%;
  }
}

@media screen and (max-width: 338px) {
  .jump{
    width: 90%;
    margin-left: -8%;
  }
}

@media screen and (max-width: 325px) {
  .jump{
    width: 90%;
    margin-left: -8%;
  }
}