@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.main {
  text-align: center;
  background-color: #403d50;
}

header {
  display: flex;
  position: fixed;
  top: -5%;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
  background: #15131d;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  user-select: none;
}

.logo {
  margin-left: 5%;
  margin-top: 30px;
  height: 8vmin;
  width: 15hmin; 
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

nav a {
  margin: -5% 20%;
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  margin-top: 13%;
  color: #908e98;
}

nav a:hover, nav a.profile{
  color:#e0e0e0;
  font-weight: 600;
}

body {
  background: #15131d;
}
