@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  scroll-behavior: smooth;
}

.main {
  text-align: center;
  background-color: #403d50;
}

header {
  display: flex;
  position: fixed;
  top: -2%;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 5px 0px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  user-select: none;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.logo {
  margin-left: 5%;
  margin-top: 20px;
  height: 8vmin;
  width: 15hmin; 
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

nav a {
  margin: -2% 20%;
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  margin-top: 13%;
  color: #908e98;
}

nav a:hover, nav a.active{
  color:#e0e0e0;
  font-weight: 800;
}

body {
  background: #15131d;
  margin: 0;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#1f242d;
  color:#ffffff;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

section:nth-child(odd){
  background: #768091;
}
